.category-food {
	justify-content: center;
	align-content: center;
	margin-bottom: 32px !important;
}
	
.category-food .fusion-date-and-formats { display: none; }
.category-food .fusion-post-slideshow {}
.category-food .fusion-image-wrapper {
	border-radius: 8px;
}
.category-food .fusion-post-slideshow {
	max-width: 40vw !important;
	
	img {
		background-position: center center;
   	background-repeat: no-repeat;
	}
}
.category-food .fusion-post-content {
	display: inline;
	padding-top: 0px !important;
	padding-left: 8px;
	align-items: center;
	flex: 1 1 !important;
}
.category-food .fusion-image-wrapper .fusion-rollover {
	display: none;
}
