/**
 * Fusion Blog style
 * Extends Alternate layout
 * Simple image with text right after it.
 */
@mixin simpleCardImageText {
	justify-content: center;
	align-content: center;
	margin-bottom: 32px !important;
	
	.fusion-date-and-formats { display: none; }
	.fusion-post-slideshow {
	}
	.fusion-image-wrapper {
		border-radius: 8px;
	}
	.fusion-post-slideshow {
		max-width: 50vw !important;
		
		img {
			background-position: center center;
    	background-repeat: no-repeat;
		}
	}
	.fusion-post-content {
		display: inline;
		padding-top: 0px !important;
		padding-left: 8px;
		align-items: center;
		flex: 1 1 !important;
	}
}

@mixin removeRollover {
	.fusion-image-wrapper .fusion-rollover {
		display: none;
	}
}
