.sg-card { 
  --shadow-color-bottom: rgba(0,0,0, 0.12);
  --color-primary: rgb(146,183,116);
  --color-primary-dark: rgb(135,127,174);
  --color-accent: rgb(217,117,117);
  
  border-radius: 8px;  
  box-shadow: none;
  border: solid 1px var(--shadow-color-bottom);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sg-card-clck {
  /* Elevation 2 */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.sg-card-clck:hover {
  /* Elevation 4 */
  transform: translateY(-4px);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

/* Feature cards styling */
.sg-trait {
  --left-border-color: var(--color-primary);
  padding: 24px;
  border-radius: 1rem;
  border-left: solid 8px var(--left-border-color);
}

.sg-trait-mind {
  --left-border-color: #a4d3e6;
}
.sg-trait-food {
  --left-border-color: var(--color-primary);
}
.sg-trait-place {
  --left-border-color: #eabe8b;
}

/* Contact cards */
.sg-social {
  padding: 8px 0 8px 0;
}
.sg-social .fusion-column-content {
  align-items: center;
  height: 32px;
}
.sg-social .fusion-column-inner-bg-image {
  border-radius: 8em;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sg-social .fusion-column-inner-bg-image:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

