@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Alegreya');

body {
	font-family: 'Alegreya';
}

/*Hide elements */
.sek-empty-location-placeholder, 
.czr-copyright, 
.czr-credits,
.czr-link-mask::before {
	display: none;
}
/* Site name style */
.navbar-brand-sitename span {
	font-family: Amatic SC;	
	font-size: 5vh;
}
/* Heading styling */
@media screen and (max-width: 900px) {
	.navbar-brand-sitename span {
		font-size: 4vh;
	}
}
/* Disable header animation */
.mobile-sticky {
	transition: none;
	transform: translate(0px, 0px) !important;
	visibility: visible !important;
}
/* Make fusion fullwidth in mobile\pc */
.fusion-fullwidth, .container[role='main'] {
	width: 100%;
}
/* Borders to blog posts */
.fusion-post-wrapper {
	border-radius: 10px;
}
.fusion-flexslider .slides li {
	padding: 0;
}
/* Adaptive visible classes */
@media screen and (max-width: 768px) {
  .v-desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .v-mobile {
    display: none;
  }
}
